.resize {
  width: 100%; /* width of container */
  height: 40vh;
  /* height: 150px; height of container */
  overflow: hidden;
  /* border: 5px solid black; */
}

.overlay_content {
  color: "white";
  height: 20%;
  width: 97%;
  top: 0;
  /* -webkit-transform: translate(0%, -100%); */
  /* background-color: rgba(253, 146, 126, 50%); */
  /* transform: translate(0%, -100%); */
  position: absolute;
}

.overlay2 {
  color: "white";
  height: 20vh;
  width: 100%;
  -webkit-transform: translate(0%, -100%);
  background-color: rgba(253, 146, 126, 50%);
  transform: translate(0%, -100%);
  position: absolute;
}

.rolename{
  font-weight: 500;
}

.justify{
  text-align: justify;
}